<div fxLayout="row" fxLayoutAlign="center center">
  <mat-card fxFlex.xs="1 1 100%" fxFlex.gt-xs="1 1 75%" fxFlex.gt-sm="1 1 50%">
    <mat-card-header>
      <mat-card-title>
        로그인
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
      <input matInput [(ngModel)]="member.email" name="email" placeholder="이메일">
      <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="member.pw" name="pw" type="password" placeholder="패스워드">
        <mat-icon matSuffix>security</mat-icon>
      </mat-form-field>
      <button mat-raised-button color="primary" class="mat-block" (click)="signupWithPassword()">
        <mat-icon>person_add</mat-icon>SignUp
      </button>
      <button mat-raised-button color="primary" class="mat-block" (click)="loginWithPassword()">
        <mat-icon>input</mat-icon>Login with Email
      </button>
      <button mat-raised-button color="accent" (click)="loginWithGoogle()" style="margin-top: 1rem;">
        Login with Google
      </button>
    </mat-card-content>
  </mat-card>
</div>
